<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCk9kFaX7NkOB6nDX_5nRKmAqD9BjbxLqk</string>
	<key>GCM_SENDER_ID</key>
	<string>225355100644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.westworld.mafia.shooting.game</string>
	<key>PROJECT_ID</key>
	<string>virtua-play-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>virtua-play-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225355100644:ios:5b673530f244c0fe0f97f1</string>
</dict>
</plist>